<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Elden Game - History</title>
  <link rel="stylesheet" href="css/history.css">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<body>

  <div id="home-bg"></div>

  <header>
    <a href="game.html" class="back">← Back</a>
    <h1>Boss History</h1>
  </header>

  <main id="history-list"></main>

  <script src="../controllers/HistoryController.js"></script>

</body>
</html>