<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elden Game</title>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Cinzel:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

  <div id="home-bg"></div>

  <div class="content">
    <h1>Elden Game</h1>
    <div class="rune"></div>
    <nav>
      <a href="game.html" class="btn">Play</a>
      <a href="doc.html"  class="btn">Doc</a>
    </nav>
  </div>

</body>
</html>